<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="MainForm.Properties.Settings.QUANLICHUYENBAYConnectionString"
            connectionString="Data Source=THAOHO\INSTANCE1;Initial Catalog=QLCHUYENBAY2;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="MainForm.Properties.Settings.QLCHUYENBAYConnectionString"
            connectionString="Data Source=TRANMINHLUAN\SQLEXPRESS;Initial Catalog=QLCHUYENBAY;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="MainForm.Properties.Settings.QLCHUYENBAYConnectionString1"
            connectionString="Data Source=TRANMINHLUAN\SQLEXPRESS;Initial Catalog=QLCHUYENBAY;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="MainForm.Properties.Settings.QLCHUYENBAYConnectionString2"
            connectionString="Data Source=TRANMINHLUAN\SQLEXPRESS;Initial Catalog=QLCHUYENBAY;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="MainForm.Properties.Settings.QLCHUYENBAYConnectionString3"
            connectionString="Data Source=THAOHO\INSTANCE1;AttachDbFilename=|DataDirectory|\QLCHUYENBAY.mdf;Integrated Security=True;Connect Timeout=30;User Instance=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
  <startup useLegacyV2RuntimeActivationPolicy="true"></startup>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
</configuration>
